.seat {
    background-color: cadetblue;
    border-style: solid;
    border-width: thin;
    display: inline-block;
}

table, tr, td {
    border: 1px solid green;
}

td {
    padding: 10px;
}

button {
    width: 30px;
    height: 30px;
}